@import "utils/reset";
@import "utils/layout";


@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h1 {
  color: red;
}

table.ellipsed-table {
  tr td {
    max-width: 100px;
    @include text-overflow();
  }
}

//include files wrt screen sizes

@media screen and (min-width: 736px) and (max-width: 1880px) {
  @import "screens/wide";
}


/* Mobile */

@media screen and (max-width: 736px) {
  @import "screens/mobile";
}
