@()

  @main("Welcome to Play") {


    <h1>Welcome to the LIGHTest ATV MOC!</h1>
    <h2>Resize the screen to see the media effect on H1!</h2>

    <div>
      <ul>

        Welcome To ATV StartTest!!!

          <hr/>
          <a href="@routes.StepsController.manualTrigger("1")">Trigger</a>

      </ul>
	  

    </div>
	

  }
