@(widgets: Seq[Asic], form: Form[AsicForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

  @main("ATV") {

    <h1>Search Result for the Trust Membership Claim in the signer certificate</h1>

    <hr/>
    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
      <div>@name: @value</div>
    }

    <table>
      <thead>
        <tr><th>Name</th><th>Value</th>
      </thead>
      <tbody>
      @for(w <- widgets) {
        <tr><td>@w.name</td><td>@w.value</td></tr>
      }
      </tbody>
    </table>

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div>
          @error.key: @error.message
        </div>
      }
    }

    @helper.form(postUrl) {

      @helper.CSRF.formField

      @helper.inputText(form("name"))

      <button>Issue DNS Query & Verify The Trust Scheme Membership </button>
    }
  }
